$web-font-sans: 'Noto Sans TC', sans-serif;
$web-font-serif: 'Noto Serif TC', serif;

body {
    font-family: $web-font-serif;
}

section {
    min-height: 100vh;
    background-image: url('https://live.staticflickr.com/5463/8972162135_6eba31d59f_b.jpg');
    background-position: center;
    background-repeat: no-repeat;
}